.recipe {
  font-size: 18px;
}

.recipe-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.recipe-header-span {
  font-weight: bold;
}

.recipe-content-subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.recipe-content-ingredients {
  margin-bottom: 30px;
}
